.centralizado {
text-align: center;
}

.titulo {
color: mediumslateblue;
background-color: aquamarine;
}

.color {
    background-color: beige;
}

#um {
    color:rgb(175, 218, 141)
}

#dois {
    color: #ff4aff
}