.container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.item {
  width: 200px;
  height: 100px;
  background-color: antiquewhite;
  margin: 10px;
}

img {
  width: 15vw;
  height: 30vh;
}