table {
    border-collapse: collapse;
    width: 80%;
    margin: 20px auto;
    box-shadow: 0 010px rgba(0, 0, 0, 0.1);
}

th,td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}

th {
    background-color: #f0f0f0;
    font-weight: bold;
}

caption {
    font-size: 18px;
    margin-bottom: 10px;
}

tbody tr:hover {
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0,0, 0.2);
}