p {
    color: rgb(178, 139, 214);
    text-align:justify;
}

p1 {
    color:rgb(209, 147, 209);
    margin-left: 200px;
}
strong {
    color:aquamarine;
    font-size: 15px;
    text-align:center;
}

video {
    width: 200px;
    height: 200px;
}